// Sticky Footer
html,
body,
#app,
.appContainer {
  height: 100%;
}

.appContainer {
  display: flex;
  flex-direction: column;
  .container {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
  }
}
