services
build_controller_statically
build_static_controller_and_upload

.DS_Store
node_modules
/dist
*db-cleaner*

# Ignore large fils from the model
website/model/jpgs/
website/model/images/

# Ignore temporary helper scripts
make_jpgs

# local env files
.env.local
.env.*.local


# local scripts
local_build_and_redeploy_controller
local_push_frontend_to_server
clean_remote_jobdb

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/.

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
exia-controller
push_files
