[Unit]
Description=Exia Controller Service (web/api server)
After=network.target

[Service]
ExecStart=/root/exia/controller/exia-controller
WorkingDirectory=/root/exia/controller/
User=root
Group=root

[Install]
WantedBy=multi-user.target
